section.breakfast {
  background: url(../styles/images/the-whitest-plate-of-fruit-dish.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 50px 0;

  .flexContainer {
    @include flexCenter;
    flex-wrap: wrap;

    h2 {
      text-align: center; 
      width: 100%;
      padding: 10px 0 80px;
    }
    ul.breakfast-menu {
      width: 50%;

      li {
        div.dish-subtext {
          @include flexCenter;
          padding: 5px 10px 20px 0;

          .separation {
            display: flex;
            flex-grow: 1;
            border-bottom: 1px dotted black;
            margin: 0 5px;
          }
        }
        .dish-name {
          @include fontSize(18);
          margin-bottom: 10px;
        }
      }
    }

    ul.left {
      background-color: purple;

    }

    ul.right {
      background-color: blue;
    }
  }
}
